@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  position: absolute;
  display: block;
  width: 100%;
}

.screen-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.screen-container h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
}

.content-container {
  padding: 4rem 9rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  background-color: white;
}

.form-control {
  margin: 1rem auto;
}

.form-control label {
  display: block;
}

.form-control input {
  outline: none;
  border: none;
  border-bottom: 1px solid #6dabe5;
  padding: 0.75rem;
  font-size: 1rem;
}

.submit-btn {
  width: 100%;
  font-size: 1rem;
  background-color: #6dabe5;
  border: none;
  color: white;
  padding: 0.75rem;
  margin: 0.5rem auto;
  border-radius: 10px;
}

.error {
  margin: 0;
  color: red;
}

.card {
  display: flex;
  max-width: 125px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
}

.card-image {
  margin: 0;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  margin: 0;
  padding: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Cell phones portrait */
@media screen and (max-width: 700px) {
  .content-container {
    box-shadow: none;
    padding: 2rem;
    background-color: #f8f8f8;
  }

  .form-control input {
    background-color: #f8f8f8;
  }
}

/* Cell phones Landscape */
@media screen 
  and (max-height: 450px) 
  and (orientation: landscape) {
    .form-control {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .form-control label {
      margin-right: 1rem;
    }

    .content-container {
      margin-top: 75px;
      box-shadow: none;
    }

    .content-container h2 {
      font-size: 1.5rem;
    }
}